**/[Bb]in
**/[Oo]bj
**/[Oo]ut
**/[Ll]ogs
**/.vscode
**/.vs
TestResults/
.nuget/
_ReSharper.*/
packages/
artifacts/
PublishProfiles/
*.user
*.suo
*.cache
*.docstates
*.psess
*.vsp
*.pidb
*.userprefs
*DS_Store
*.ncrunchsolution
*.*sdf
*.ipch
.dotnet
.Microsoft.DotNet.ImageBuilder
nuget.exe
project.lock.json
node_modules/